*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.mycontainer{
  width: 100%;
  height: 100%;
}


.heroSection{
  background:#F8F9FE;
  width:100%;
  height: 100vh;
}

.heroSection h1{
  font-size:3rem;
  color:#32325d;
  font-family:'candara'
}

.row .col-md-3{
  margin-top: 10%;
}
.row .col-md-6{
  margin-top: 8%;

}
.hero_img {
  width: 100%;
  float: right;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

